<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<table>
  <thead>
    <tr>
      <th>Size</th>
      <th>Toppings</th>
      <th>Base</th>
      <th>Crust</th>
      <th>Sauce</th>
      <th>Cheese</th>
      <th>Sides</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Allergies</th>
      <th>Name</th>
      <th>Address</th>
      <th>Delivery date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.size %></td>
        <td><%= order.toppings %></td>
        <td><%= order.base %></td>
        <td><%= order.crust %></td>
        <td><%= order.sauce %></td>
        <td><%= order.cheese %></td>
        <td><%= order.sides %></td>
        <td><%= order.phone %></td>
        <td><%= order.email %></td>
        <td><%= order.allergies %></td>
        <td><%= order.name %></td>
        <td><%= order.address %></td>
        <td><%= order.delivery_date %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
